.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  position: absolute;
  left: 64px;
  top: 30px;
  width: 154px;
  height: 31px;
  z-index: 1;
}

.logo_place_footer {
  top: 0;
  left: 0;
  width: 183px;
  height: 35px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #F2F2F2;
  color: black;
  position: relative;
  /* parameters for the header section */
}

.header__title {
  width: 730px;
  display: flex;
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 10;
}

.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 756px;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0px;
}

.description {
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
  margin-top: 100px;
}

.section-title {
  margin: auto;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
  width: 60%;
  z-index: 10;
  position: relative;
}

.section-subtitle {
  margin: auto;
  margin-top: 20px;
  width: 60%;
  line-height: 34px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
  width: 60%;
}

.table {
  margin: auto;
  width: 1100px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
}

.table__theme_dark {
  padding-bottom: 90px;
  z-index: 10;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
}

/* including elements with key-value modifiers */

.table__cell_theme_dark {
  width: 200px;
  color: rgb(202, 195, 195);
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  top: 50%;
}

.table__text_theme_dark {
  z-index: 10;
}

.table__source {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 790px;
  background-color: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  position: relative;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
}

.feynman__title {
  padding-top: 100px;
  width: 775px;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  padding-top: 70px;
  margin: auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1F1F1F;
  overflow: hidden;
  padding-bottom: 90px;
  position: relative;
}

.kaufman__triange {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
}

.footer {
  background-color: #1F1F1F;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__author {
  color: white;
  list-style: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 180px;
  position: absolute;
  bottom: 18px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__column_content_about {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__list {
  padding: 0;
  list-style: none;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
